:root {
  --width-sidebar: 200px;
}
#sidebar {
  height: calc(100vh - 70px);
  width: 200px;
  background-color: #770000;
  color: #fff;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 850ms;
}
.sidebar-hide {
  width: 0px !important;
}

#navmenu.active {
  left: 0;
  transition: 350ms;
}

.menuitem {
  width: 80%;
  height: 50px;  
  display: flex;
  opacity: 1;
  flex-direction: row;
}
.menuitem{

}

.iconmenu {
  width: 40px;
  font-size: 20px;
  margin-top: 2px;
}

.menuitem a {
  text-decoration: none;
  color: #fff;
}
