#titlebody {
  display: flex;
  background-color: #770000;
  color: #ffffff;
  font-size: 18px;
  font-family: Roboto,-apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  text-align: left;   
  height: 70px;
  width: 100%;
}
