#productdetail{
    padding-top: 54px;
}
#inputcomentpd{
    background-color: #A4DEC9;
    border: none;
    height: 29px;
    width: 100%;
    outline: none;
}
.itemproddetail{
    display: flex;
    align-items: center;
    padding: 8px 38px; 
    margin-top: 10px;
}
.titleproddetail{
    font-size: 18px; 
    font-weight: 700;
      text-align: left; 
      padding-left: 36px; 
      margin-top: 53px;
      margin-bottom: 10px;
}