.spinnercircleanimation {
    width: 100%;
    max-width: 5rem;
    animation: rotate 3.4s linear infinite;
}

.circlespinner {
    fill: none;
    stroke: white;
    stroke-width: 8px;
    stroke-dasharray: 300;
    animation: outline 2s cubic-bezier(0.77, 0, 0.18, 1) infinite;
}

@keyframes outline {
    0% {
        stroke-dashoffset: 0;
    }
    5% {
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dashoffset: 300;
    }
    95% {
        stroke-dashoffset: 600;
    }
    100% {
        stroke-dashoffset: 600;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(-1turn);
    }
}
