#dialogwindow{
    // position: fixed;
    height: 200px;
    min-width: 80%;
    border-radius: 40px;
    border: 5px solid #30A178;
    background: #FFFFFF;
    
}
.overlaydialog{    
    display: flex;
    justify-content: center;
    align-items: center;
}