#mainlayout{
    overflow: hidden;
}
#belownavbar{
    display: flex;
    flex-direction: row;
}
#bodycontent{
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--width-sidebar) );
    transition: width var(--speed-transition-sidebar);
}